* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.container {
    display: grid;
    grid-template-columns:300px 1fr; 
    grid-template-rows: auto 1fr;   
    grid-template-areas:
        "header header"
        "sidebar main";
    height: 100vh;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#headerContent {
    background-color: #00274D;
    color: white;
    grid-area: header;
    padding: 20px;
}

#headerContent h1 {
    font-size: 4rem;
    margin-left: 30px;
}

#sidebarContent {
    background-color: #FAF3E0;
    grid-area: sidebar;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 70px;
    padding-left: 20px;
    gap: 10px;
}

#sidebarContent > * {
    font-size: 2rem;
    margin-left: 40px;
    margin-top: 10px;
    background-color: #FAF3E0;
}

#sidebarContent ul {
    list-style-type: none;
    margin-left: 40px;
}

#sidebarContent ul li, #sidebarContent h2 {
    margin-top: 10px;
    max-width: 200px;
}

#sidebarContent .project-link:hover {
    background-color: #F9F9F9;
}

#sidebarContent h2 {
    border-bottom: 2px solid #333;
    width: auto;
    text-align: center;
}

#projects {
    font-size: 1.5rem;
    text-align: center;
    max-width: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#projects .add-project {
    font-size: 2rem;
    background-color: #00FF00;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
}

#projects .add-project:hover {
    background-color: #00CC00;
}

#mainContent {
    background-color: #F9F9F9;
    grid-area: main;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.project-container li {
    list-style-type: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    font-weight: bold;
}

.project-container li> button {
    height: 20px;
    width: 20px;
    background-color: #FF0000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.project-container li> button:hover {
    background-color: #CC0000;
}

#projectForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#submitProject {
    background-color: #00FF00;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bold;
}

#projectForm input[type="text"] {
    font-size: 1.2rem;
    width: 200px;
    height: 25px;
    margin-top: 10px;
}

#taskDetails {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #FAF3E0;
    padding: 20px; 
    border: 1px solid #ddd; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#taskDetails input, #taskDetails textarea, #taskDetails select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#taskDetails textarea {
    height: 100px; 
    resize: vertical;
}

#submitTaskDetails {
    grid-column: span 1;
    background-color: #C9ADA7;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#submitTaskDetails:hover {
    background-color: #A67C6F;
}